body {
  font-family: Verdana, Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 140% !important;
}
a img {
  text-decoration: none;
}
h1 {
  font-size: 20px;
}
#header {
  width: 100%;
  background: #337ab7;
  color: #fff;
}
#header #title {
  float: left;
  margin-left: 20px;
  margin-top: 35px;
  color: #fff;
  border: none;
}
#content {
  padding: 30px;
}
#footer {
  padding: 20px;
  color: #000;
  text-align: center;
}
#footer a {
  color: #333;
}
#footer .license-text {
  margin-left: 20px;
  font-size: 12px;
}
#footer .license-link {
  text-decoration: none;
}
.clear {
  clear: both;
}
h1.title {
  float: left;
  padding: 8px 0 0 28px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.center-align {
  text-align: center;
}