<p>Send a CSV file</p>
<form action="?action=Csv" method="post" enctype="multipart/form-data">
  <label for="csv">CSV file</label>&nbsp;<input type="file" name="csv" accept=".csv" />
  <input type="submit" value="Send" />
</form>
